.container{
    background-color: transparent;
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: space-between;
}

.about{
    color: aliceblue;
}

.home{
    color: aliceblue;
}