.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(14.51, 15.69, 31.37, 0.7);
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.leftSection, .middleSection, .rightSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  padding: 0.3em 1em;
  border: none;
  outline: none;
  color: #552758;
  background: rgba(166, 238, 230, 0.908);
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Kanit', sans-serif;
  font-size: 12.5px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 5px;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.1);
}

.logout {
  background: linear-gradient(145deg, #a6eee6, #d0fff9);
  color: #2b1f2f;
  border: none;
  border-radius: 8px;
  font-family: 'Kanit', sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4em 1.2em;
  box-shadow: 0 4px 8px rgba(0, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin: 6px;
}

.logout:hover {
  background: #88f3e8;
  transform: scale(1.08);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
}


/* Responsive */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .leftSection, .middleSection, .rightSection {
    justify-content: center;
  }

  .middleSection {
    width: 100%;
  }
}
